@import url(https://fonts.googleapis.com/css?family=Pacifico);
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body,
html {
  font-family: monospace;
  line-height: 1;
  font-weight: normal;
  height: 100%;
  width: 100%;
  position: relative;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong {
  font-weight: 700;
}
a {
  color: #df005c;
  word-wrap: break-word;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html, body {
  height: 100%;
}
p {
  font-family: arial;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 10px;
}

.container {
  width: 968px;
  text-align: center;
  margin: 40px auto;
}

.logo {
  font-family: 'Pacifico', cursive;
  font-size: 6em;
  font-weight: 900;
  color: #ff6a6a;
  text-align: center;
  margin-bottom: 40px;
}

.quote-container {
  display: block;
  width: 750px;
  height: 155px;
  margin: 30px auto;
  padding: 40px;
  text-align: center;
  border-radius: 5%;
  background: #fffaf2;
}

.quote-subject {
  color: #000;
  font-size: 1.5em;
}

.button {
  padding: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 1.3em;
  border-radius: 3px;
  display: inline-block;
  background: #ff6a6a;
}
.button-orange {
  background: #f39c12;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .logo {
    font-size: 4em;
  }
  .quote-container {
    width: 85%;
  }

  .quote-subject {
    color: #000;
    font-size: 1em;
  }
}
